<div class="container">
  <h1>Sockets Fun!</h1>
  <h5 id="user"></h5>
  <p>Draw below!</p>
  <div id="draw-area"></div>
  <div>
    <p>Chat Below!</p>
    <div class="chatbox">
      <ul id="msg"></ul>
    </div>
    <input id="m" type="text"><button id="sub" class="btn">Send your message!</button>
  </div>
</div>
